<%- include('partials/header.ejs') %>
<!-- banner -->
<div class="inside-banner">
  <div class="container">
    <span class="pull-right"><a href="/">Home</a> / Agents</span>
    <h2>Agents</h2>
  </div>
</div>
<!-- banner -->

<div class="container">
  <div class="spacer agents">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-sm-12">
        <% for(var i = 0; i < agents.length; i++){ %>
        <!-- agents -->
        <div class="row">
          <div class="col-lg-2 col-sm-2">
            <a href="#"
              ><img
                src="data:image/jpg; base64, <%= agents[i].Picture %>"
                class="img-responsive"
                alt="agent name"
            /></a>
          </div>
          <div class="col-lg-7 col-sm-7">
            <h4><%= agents[i].Name %></h4>
            <p><%= agents[i].Address %></p>
          </div>
          <div class="col-lg-3 col-sm-3">
            <span class="glyphicon glyphicon-envelope"></span>
            <a href="mailto:abc@realestate.com"><%= agents[i].Email %></a><br />
            <span class="glyphicon glyphicon-earphone"></span>
            <%=agents[i].Contact %>
          </div>
        </div>

        <!-- agents -->
        <%}%>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer.ejs') %>
