<!DOCTYPE html>
<html lang="en">
  <head>
    <title>E Gency</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/images/logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/assets/style.css" />
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.js"></script>
    <script src="/assets/script.js"></script>

    <!-- Owl stylesheet -->
    <link rel="stylesheet" href="/assets/owl-carousel/owl.carousel.css" />
    <link rel="stylesheet" href="/assets/owl-carousel/owl.theme.css" />
    <script src="/assets/owl-carousel/owl.carousel.js"></script>
    <!-- Owl stylesheet -->

    <!-- slitslider -->
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/slitslider/css/style.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/slitslider/css/custom.css"
    />
    <script
      type="text/javascript"
      src="/assets/slitslider/js/modernizr.custom.79639.js"
    ></script>
    <script
      type="text/javascript"
      src="/assets/slitslider/js/jquery.ba-cond.min.js"
    ></script>
    <script
      type="text/javascript"
      src="/assets/slitslider/js/jquery.slitslider.js"
    ></script>

    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="container-flex">
      <div class="row" style="margin-left: 30%; width: 100%">
        <a href="/"><img src="/images/logo.png" height="250px" alt="Home" /></a>
        <h2 style="font-weight: bold; margin-left: 10%">Agent Details</h2>
      </div>
    </div>
    <div
      class="container"
      style="margin-top: 20px; display: table; width: 100%"
    >
      <div style="position: absolute; left: 150px; width: 30%"></div>
    </div>
    <div style="position: absolute; right: 150px; width: 70%">
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-md-6">
          <div class="card signin-card">
            <div class="card-body">
              <form action="/editagent" method="post">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputFirstName4">Name</label>
                    <input
                      type="text"
                      class="form-control"
                      id="inputFirstName4"
                      placeholder="Name"
                      name="name"
                      value="<%=user.Name%>"
                      required
                    />
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Email</label>
                    <input
                      type="email"
                      class="form-control"
                      id="inputEmail4"
                      placeholder="Email"
                      name="email"
                      value="<%=user.Email%>"
                      required
                    />
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputPassword4">Password</label>
                    <input
                      type="password"
                      class="form-control"
                      id="inputPassword4"
                      placeholder="Password"
                      name="password"
                      value="<%=user.Password%>"
                      required
                    />
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label for="inputCity">Contact</label>
                    <input
                      type="text"
                      class="form-control"
                      id="inputCity"
                      name="contact"
                      value="<%=user.Contact%>"
                      required
                    />
                  </div>

                  <div class="form-group col-md-8">
                    <label for="inputAddress">Address</label>
                    <input
                      type="text"
                      class="form-control"
                      id="inputAddress"
                      placeholder="1234 Main St"
                      name="address"
                      value="<%=user.Address%>"
                      required
                    />
                  </div>
                </div>

                <button type="submit" class="btn btn-primary btn-lg">
                  Edit Details
                </button>
              </form>
            </div>
          </div>
        </div>
        <!--<div class="col-sm-1"></div>
          
        </div>-->
      </div>
    </div>
  </body>
</html>
