<%- include('partials/header.ejs') %>
<!-- banner -->
<div class="inside-banner">
  <div class="container">
    <span class="pull-right"><a href="/">Home</a> </span>
    <h2><%= data.Name %></h2>
  </div>
</div>
<!-- banner -->

<div class="container">
  <div class="properties-listing spacer">
    <div class="row">
      <div class="col-lg-3 col-sm-4 hidden-xs">
        <div class="advertisement">
          <h4>Advertisements</h4>
          <img
            src="/images/advertisements.jpg"
            class="img-responsive"
            alt="advertisement"
          />
        </div>
      </div>

      <div class="col-lg-9 col-sm-8">
        <div class="row">
          <div class="col-lg-8">
            <div class="property-images">
              <!-- Slider Starts -->
              <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators hidden-xs">
                  <li
                    data-target="#myCarousel"
                    data-slide-to="0"
                    class="active"
                  ></li>
                  <li data-target="#myCarousel" data-slide-to="1" class=""></li>
                  <li data-target="#myCarousel" data-slide-to="2" class=""></li>
                </ol>
                <div class="carousel-inner">
                  <!-- Item 1 -->
                  <div class="item active">
                    <img
                      src="data:image/jpg; base64, <%= data.Image1 %>"
                      class="properties"
                      alt="properties"
                    />
                  </div>
                  <!-- #Item 1 -->

                  <!-- Item 2 -->
                  <div class="item">
                    <img
                      src="data:image/jpg; base64, <%= data.Image2 %>"
                      class="properties"
                      alt="properties"
                    />
                  </div>
                  <!-- #Item 2 -->

                  <!-- Item 3 -->
                  <div class="item">
                    <img
                      src="data:image/jpg; base64, <%= data.Image3 %>"
                      class="properties"
                      alt="properties"
                    />
                  </div>
                  <!-- #Item 3 -->
                </div>
                <a
                  class="left carousel-control"
                  href="#myCarousel"
                  data-slide="prev"
                  ><span class="glyphicon glyphicon-chevron-left"></span
                ></a>
                <a
                  class="right carousel-control"
                  href="#myCarousel"
                  data-slide="next"
                  ><span class="glyphicon glyphicon-chevron-right"></span
                ></a>
              </div>
              <!-- #Slider Ends -->
            </div>

            <div class="spacer">
              <h4>
                <span class="glyphicon glyphicon-th-list"></span> Properties
                Detail
              </h4>
              <p><%= data.Description %></p>
            </div>
            <!--  <div>
              <h4>
                <span class="glyphicon glyphicon-map-marker"></span> Location
              </h4>
              <div class="well"> 
                 <div id="googleMap" style="width: 100%; height: 400px"></div>

                <script>
                  function myMap() {
                    var mapProp = {
                      center: new google.maps.lo(),
                      zoom: 5,
                    };
                    var map = new google.maps.Map(
                      document.getElementById("googleMap"),
                      mapProp
                    );
                  }
                </script>

                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjPFoBhwldbOmQRZb9GarMBcIVHoaqoG8&callback=myMap"></script> -->

            <!-- <iframe
                  width="100%"
                  height="350"
                  frameborder="0"
                  scrolling="no"
                  marginheight="0"
                  marginwidth="0"
                  src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Pulchowk,+Patan,+Central+Region,+Nepal&amp;aq=0&amp;oq=pulch&amp;sll=37.0625,-95.677068&amp;sspn=39.371738,86.572266&amp;ie=UTF8&amp;hq=&amp;hnear=Pulchowk,+Patan+Dhoka,+Patan,+Bagmati,+Central+Region,+Nepal&amp;ll=27.678236,85.316853&amp;spn=0.001347,0.002642&amp;t=m&amp;z=14&amp;output=embed"
                ></iframe> -
              </div>
            </div>-->
          </div>
          <div class="col-lg-4">
            <div class="col-lg-12 col-sm-6">
              <div class="property-info">
                <p class="price">
                  Rs. <%= data.Price.toString().replace(/\B(?=(\d{3})+(?!\d))/g,
                  ",") %>
                </p>
                <p class="area">
                  <span class="glyphicon glyphicon-map-marker"></span>
                  <%= data.Address %>
                </p>

                <div class="profile">
                  <span class="glyphicon glyphicon-user"></span> Agent Details
                  <p><%= data.Person %><br /><%= data.Contact %></p>
                </div>
              </div>

              <h6>
                <span class="glyphicon glyphicon-home"></span> Availabilty
              </h6>
              <div class="listing-detail">
                <span
                  data-toggle="tooltip"
                  data-placement="bottom"
                  data-original-title="Bed Room"
                  ><%= data.Bedroom %></span
                >
                <span
                  data-toggle="tooltip"
                  data-placement="bottom"
                  data-original-title="Living Room"
                  ><%= data.Livingroom %></span
                >
                <span
                  data-toggle="tooltip"
                  data-placement="bottom"
                  data-original-title="Parking"
                  ><%= data.Parking %></span
                >
                <span
                  data-toggle="tooltip"
                  data-placement="bottom"
                  data-original-title="Kitchen"
                  ><%= data.Kitchen %></span
                >
              </div>
            </div>
            <div class="col-lg-12 col-sm-6">
              <div class="enquiry">
                <h6>
                  <span class="glyphicon glyphicon-envelope"></span> Post
                  Enquiry
                </h6>
                <form role="form">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Full Name"
                  />
                  <input
                    type="text"
                    class="form-control"
                    placeholder="you@yourdomain.com"
                  />
                  <input
                    type="text"
                    class="form-control"
                    placeholder="your number"
                  />
                  <textarea
                    rows="6"
                    class="form-control"
                    placeholder="Whats on your mind?"
                  ></textarea>
                  <button type="submit" class="btn btn-primary" name="Submit">
                    Send Message
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer.ejs') %>
